@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Div Background="Background.Secondary">
    
    <br />

    <Divider DividerType="DividerType.TextContent" Text="TextTextTextText" TextColor="TextColor.White" />
    <br/>
    <Divider DividerType="DividerType.TextContent" Text="TextTextTextText" TextColor="TextColor.Warning" Background="Background.Dark"/>
    <br/>
    <Divider DividerType="DividerType.TextContent" Text="TextTextTextText" TextColor="TextColor.Info" Background="Background.Warning" />

    <br/>
    <br/>
    <br/>

    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Dashed"/>
    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Dashed" TextColor="TextColor.Warning"/>
    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Dashed" TextColor="TextColor.Dark"/>

    <br/>
    <br/>
    <br/>

    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Dotted"/>
    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Dotted" TextColor="TextColor.Warning"/>
    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Dotted" TextColor="TextColor.Dark"/>

    <br/>
    <br/>
    <br/>

    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Solid"/>
    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Solid" TextColor="TextColor.Warning"/>
    <Divider Margin="Margin.Is3.OnY" DividerType="DividerType.Solid" TextColor="TextColor.Dark"/>
</Div>

